@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Calculate", FormMethod.Post))
{
    <div class="row" style="margin-top:100px;">
        <div class="col-md-1">
            @Html.TextBox("num1", "", new { @class = "form-control", @placeholder = "num1" })

        </div>
        <div class="col-md-2">
            @Html.TextBox("operation", "", new { @class = "form-control", @placeholder = "operation" })
        </div>
        <div class="col-md-1">
            @Html.TextBox("num2", "", new { @class = "form-control", @placeholder = "num2" })
        </div>
        <div class="col-md-1">
            @Html.Label("=")
        </div>
        <div class="col-md-1">
           @ViewData["result"]
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-md-1">
            <input type="submit" value="Submit" class="btn btn-info" />
        </div>
        
    </div>
}